# Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
m=int(input("Introduce tu matricula: "))
n= str(input("Introduce tu nombre: "))
print ("Tu nombre es:",n, "y tu matricula es:",m)

Introduce tu matricula: 1864878
Introduce tu nombre: Alan René Cerda Serrato
Tu nombre es: Alan René Cerda Serrato y tu matricula es: 1864878

# Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
Num1= int(input("Introduce el primer numero: "))
Num2= int(input("Introduce el segundo numero: "))
Suma=Num1+Num2
Resta=Num1-Num2
Mult=Num1*Num2
Divi=Num1/Num2
Exponente=Num1**Num2
print("El primer numero es: ",Num1,
      "El segundo numero es: ",Num2,
      "La suma es: ",Suma,
      "La resta es: ",Resta,
      "La multipicación es: ",Mult,
      "La division es: ",Divi,
      "El exponente es: ",Exponente)

Introduce el primer numero: 2
Introduce el segundo numero: 3
El primer numero es:  2 El segundo numero es:  3 La suma es:  5 La resta es:  -1 La multipicación es:  6 La division es:  0.6666666666666666 El exponente es:  8

# Ejercicio 3

In [ ]:
i=1
suma=0
while i <= 10:
  print(3," * ", i , " = ", i * 3)
  suma=suma+ (i*3)
  i=i+1

print("La suma es: ",suma)

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
La suma es:  165

# Ejercicio 4

In [ ]:
a = int(input("Introduce primer número: "))
if  (a % 2 == 0): 
    print (a,"Es par")
else:
    print (a,"Es impar")

Introduce primer número: 26
26 Es par

In [ ]:
a=0
primo = int(input("Introduce un numero: "))
if primo % 2 == 0:
  print("El numero",primo,"es par")
else:
  for i in range(1,primo+1):
    primo % i
    if primo % i == 0:
      desc=desc+1
    else:
      a=a
if desc==2:
  print("Es primo")
else:
  print("No es primo")

Introduce un numero: 11
Es primo

# Ejercicio 5

In [ ]:
a = int(input("Introduce el primer número: "))
b = int(input("Introduce el segundo número: "))
def Suma(a,b):
    c=a+b
    return c

print ("Suma-->", Suma(a,b))

def Resta(a,b):
    c=a-b
    return c

print ("Resta -->", Resta(a,b))

def Mult(a,b):
    c=a*b
    return c

print ("Multiplicacion -->", Mult(a,b))

def Divi(a,b):
    c=a/b
    return c

print ("División -->", Divi(a,b))

def Exponente(a,b):
    c=a**b
    return c
print ("Exponente -->", Exponente(a,b))

Introduce el primer número: 4
Introduce el segundo número: 5
Suma--> 9
Resta --> -1
Multiplicacion --> 20
División --> 0.8
Exponente --> 1024

# **Ejercicios Tuplas**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
a=15
print(type(a))
b=9.1
print(type(b))
c=True
print(type(c))
d=complex(12)
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
tupla1=(1,2,3,4,5)
print("El primer valor: ",tupla1[0])
print("El ultimo valor: ",tupla1[-1])

El primer valor:  1
El ultimo valor:  5

Añadir 3 valores de string a la tupla.

In [ ]:
tupla1.__add__(("seis","siete","ocho"))

(1, 2, 3, 4, 5, 'seis', 'siete', 'ocho')

Verificar si una variable existe dentro de la tupla.

In [ ]:
a=int(input("Verifica en tupla: ",))
if a in tupla1:
  print("Si se encuentra")
else:
  print("No se encuentra")

Verifica en tupla: 4
Si se encuentra

# **Listas**

Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
import random as r
L40 = []
for i in range (0,40):
    L40.append(r.randint(1,5000))
    
print (L40)

[1335, 3011, 2397, 3813, 1553, 4128, 2220, 3085, 370, 3490, 4042, 2761, 83, 1106, 27, 4631, 201, 2111, 1429, 4642, 1235, 2294, 4398, 4120, 1098, 2163, 271, 1277, 1276, 4225, 3923, 4932, 1509, 2673, 3325, 193, 98, 2511, 638, 2818]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [ ]:
def Listas(list_fun):
  Pares=list()
  Impares=list()
  for i in range(0,len(list_fun)):
    if list_fun[i]%2==0:
      Pares.append(list_fun[i])
    else:
      Impares.append(list_fun[i])
  return((Pares),(Impares))

a=Listas(L40)
print("Pares: ",a[0])
print("Impares: ",a[1])

Pares:  [4128, 2220, 370, 3490, 4042, 1106, 4642, 2294, 4398, 4120, 1098, 1276, 4932, 98, 638, 2818]
Impares:  [1335, 3011, 2397, 3813, 1553, 3085, 2761, 83, 27, 4631, 201, 2111, 1429, 1235, 2163, 271, 1277, 4225, 3923, 1509, 2673, 3325, 193, 2511]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [ ]:
Par=len(a[0])
Impar=len(a[1])
print("Longitud de pares: ",Par)
print("Longitud de impares: ",Impar)

Longitud de pares:  16
Longitud de impares:  24

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [ ]:
a[0].sort(reverse=True)
a[1].sort()
print("Lista May a Men de pares: ",a[0])
print("Lista Men a May de impares: ",a[1])

Lista May a Men de pares:  [4932, 4642, 4398, 4128, 4120, 4042, 3490, 2818, 2294, 2220, 1276, 1106, 1098, 638, 370, 98]
Lista Men a May de impares:  [27, 83, 193, 201, 271, 1235, 1277, 1335, 1429, 1509, 1553, 2111, 2163, 2397, 2511, 2673, 2761, 3011, 3085, 3325, 3813, 3923, 4225, 4631]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
L40.insert(6,40)
print(L40)
L40.pop()
print(L40)
L40.remove(40)
print(L40)
L40.reverse()
print(L40)

[2397, 3813, 1553, 4128, 2220, 3085, 40, 370, 3490, 4042, 2761, 83, 1106, 27, 4631, 201, 2111, 1429, 4642, 1235, 2294, 4398, 4120, 1098, 2163, 271, 1277, 1276, 4225, 3923, 4932, 1509, 2673, 3325, 40, 193, 98]
[2397, 3813, 1553, 4128, 2220, 3085, 40, 370, 3490, 4042, 2761, 83, 1106, 27, 4631, 201, 2111, 1429, 4642, 1235, 2294, 4398, 4120, 1098, 2163, 271, 1277, 1276, 4225, 3923, 4932, 1509, 2673, 3325, 40, 193]
[2397, 3813, 1553, 4128, 2220, 3085, 370, 3490, 4042, 2761, 83, 1106, 27, 4631, 201, 2111, 1429, 4642, 1235, 2294, 4398, 4120, 1098, 2163, 271, 1277, 1276, 4225, 3923, 4932, 1509, 2673, 3325, 40, 193]
[193, 40, 3325, 2673, 1509, 4932, 3923, 4225, 1276, 1277, 271, 2163, 1098, 4120, 4398, 2294, 1235, 4642, 1429, 2111, 201, 4631, 27, 1106, 83, 2761, 4042, 3490, 370, 3085, 2220, 4128, 1553, 3813, 2397]

# **Diccionarios**

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [ ]:
Diccionario1={'Alan':20,'Jorge':19,'Andrés':17,'Elizabeth':20,'Laura':45,'Humberto':40}
Diccionario1

{'Alan': 20,
 'Andrés': 17,
 'Elizabeth': 20,
 'Humberto': 40,
 'Jorge': 19,
 'Laura': 45}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [ ]:
ListaEdad=list(Diccionario1.values())
ListaEdad.sort()
ListaEdad

[17, 19, 20, 20, 40, 45]


Usando el diccionario y un loop, imprimir solo los nombres.

In [ ]:
for i in Diccionario1:print(i)

Alan
Jorge
Andrés
Elizabeth
Laura
Humberto


Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [ ]:
Diccionario1['Raul']=43
Diccionario1['Alexis']=24
Diccionario1

{'Alan': 20,
 'Alexis': 24,
 'Andrés': 17,
 'Elizabeth': 20,
 'Humberto': 40,
 'Jorge': 19,
 'Laura': 45,
 'Raul': 43}

# **Sets**

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [ ]:
import random as r
ListaSets= []
for i in range (0,100):
    ListaSets.append(r.randint(1, 25))
Set1 = set(ListaSets)
Set1

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}


Comprueba la longitud de tu set.

In [ ]:
len(Set1)

25


Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
ListaSets = []
Set2 = set()
for i in range (0,5):
    ListaSets.append(r.randint(1, 10))
for i in range (0,len(ListaSets)):
  if ListaSets[i] in Set1:
   Set2.add(ListaSets[i])
print(Set2," si están en el set inicial")

{2, 4, 6, 7, 8}  si están en el set inicial